<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115018246-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-115018246-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>JessGreen.io | Portfolio of Jess Green {% if item.title %} &raquo; {{ item.title }}{% endif %}</title>

    <meta property="og:url" content="{{Request.url()}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% if item.title %}JessGreen.io &raquo; {{ item.title }}{% else %}JessGreen.io{% endif %}" />
    <meta property="og:description" content="{% if item.excerpt %}{{ item.excerpt }}{% else %}The portfolio of Twin Cities web developer Jess Green{% endif %}" />
    <meta property="og:image" content="{% if item.thumbnail('browser-small', 'cover_image') %}https:{{ Voyager.image(item.thumbnail('browser-small', 'cover_image')) }}{% else %}{{asset('/images/logo.png')}}{% endif %}" />
    <meta property="og:image:alt" content="JessGreen.io" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=vMdJy5qAAG">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=vMdJy5qAAG">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=vMdJy5qAAG">
    <link rel="manifest" href="/site.webmanifest?v=vMdJy5qAAG">
    <link rel="shortcut icon" href="/favicon.ico?v=vMdJy5qAAG">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.typekit.net/laq0noo.css" />
    <link rel="stylesheet" href="{{mix('assets/styles/screen.css')}}" media="all" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script data-main="assets/scripts" src="{{mix('assets/scripts/frontend.js')}}"></script>
</head>
<body>
<div class="container">
    <header class="js-sticky main-header main-header--portfolio row">
        <h1 class="main-header__logo">
            <span class="sr-only">The Portfolio of Jess Green</span>
            <img src="assets/images/logo.png" />
        </h1>
        <nav class="main-header__navbar col-inline col-xs-offset-1 col-md-6 col-xs-8">
            <ul class="hlist">
                <li><a href="#work" data-spy="work" class="js-scroll-spy">Work</a></li>
                <li><a href="#about" data-spy="about" class="js-scroll-spy">About</a></li>
                <li><a href="#contact" data-spy="contact" class="js-scroll-spy">Contact</a></li>
            </ul>
        </nav>
    </header>
